In [2]:
import re

### The findall() Function

In [5]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

### The search() Function

In [6]:
txt = "The rain in Spain"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

### The split() Function

In [7]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

### The sub() Function

In [10]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

### Match Object

In [12]:
# .span()

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [13]:
# .string()

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [14]:
# .group()

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain